<div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <button class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse"></button>
          <a class="brand" href="/">Reveille</a>
          <div id="#nav-collapse" class="nav-collapse collapse">
            
            <ul class="nav pull-right">
              <li>
                <a href="/" title="Overview">Overview</a>
              </li>
              <li>
                <a href="/docs" title="Documentation">Documentation</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
