<!-- <ul class="nav nav-list" data-spy="affix"> -->
<ul class="nav nav-list" data-spy="affix">
  <li class="nav-header">
    Getting Started
  </li>
  <li class="{% if page.title == "Introduction" %}active{% endif %}">
    <a href="{{ site.url }}/docs/introduction">Introduction</a>
  </li>
  <li class="{% if page.title == "Installation" %}active{% endif %}">
    <a href="{{ site.url }}/docs/installation">Installation</a>
  </li>
  <li class="{% if page.title == "Configuration" %}active{% endif %}">
    <a href="{{ site.url }}/docs/configuration">Configuration</a>
  </li>
  <li class="{% if page.title == "Deployment" %}active{% endif %}">
    <a href="{{ site.url }}/docs/deployment">Deployment</a>
  </li>

  <li class="divider"></li>
  <li class="nav-header">
    API Reference
  </li>
  <li class="{% if page.title == "API - Incidents" %}active{% endif %}">
    <a href="/docs/api#incidents">Incidents</a>
    {% include sidebar/incidents.html %}
  </li>
  <li class="{% if page.title == "API - Policies" %}active{% endif %}">
    <a href="/docs/api#policies">Policies</a>
    {% include sidebar/policies.html %}
  </li>
  <li class="{% if page.title == "API - Schedules" %}active{% endif %}">
    <a href="/docs/api#schedules">Schedules</a>
    {% include sidebar/schedules.html %}
  </li>
  <li class="{% if page.title == "API - Services" %}active{% endif %}">
    <a href="/docs/api#services">Services</a>
    {% include sidebar/services.html %}
  </li>
  <li class="{% if page.title == "API - Users" %}active{% endif %}">
    <a href="/docs/api#users">Users</a>
    {% include sidebar/users.html %}
  </li>
  <li class="{% if page.title == "API - Integration" %}active{% endif %}">
    <a href="/docs/api#integration">Integration</a>
    {% include sidebar/integration.html %}
  </li>
  <li class="{% if page.title == "API - Account" %}active{% endif %}">
    <a href="/docs/api#account">Account</a>
    {% include sidebar/account.html %}
  </li>
  <li class="{% if page.title == "API - Account" %}active{% endif %}">
    <a href="/docs/api#webhooks">Webhooks</a>
    {% include sidebar/webhooks.html %}
  </li>

</ul>
