//= require data-blocks
//= require bootstrap
//= require bootstrap-responsive
//= require flat-ui
//= require syntax
//= require_self

body {
  margin-top: 70px;
}

#wrap {
  margin-top: 20px;
}

.param {
  padding: 20px 0;
  // border-top: 1px solid rgba(0,0,0,0.15);
}

.nav-list > li {
  line-height: 14px;
}

.nav-list > li > a {
  // font-size: 14px;
  font-weight: 400;
  // padding: 2px 15px;
}

.nav-list > li > ul > li > a {
  font-size: 13px;
}